<h1 mat-dialog-title>Create credential</h1>
<div mat-dialog-content>
  <!-- Protocol -->
  <mat-form-field appearance="fill">
    <mat-label>Protocol</mat-label>
    <mat-select required [(ngModel)]="credential.protocol">
      <mat-option value="ssh">SSH</mat-option>
      <mat-option value="sftp">SFTP</mat-option>
      <mat-option value="ftp">FTP</mat-option>
      <mat-option value="sql">SQL</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-divider></mat-divider>

  <!-- Name -->
  <mat-form-field appearance="fill">
    <mat-label>Name (optional)</mat-label>
    <input matInput [(ngModel)]="credential.name" />
  </mat-form-field>

  <mat-divider></mat-divider>

  <!-- Description -->
  <mat-form-field appearance="fill">
    <mat-icon matPrefix>chat</mat-icon>
    <mat-label>Description (optional)</mat-label>
    <textarea matInput [(ngModel)]="credential.description"></textarea>
  </mat-form-field>

  <mat-divider></mat-divider>

  <!-- Hostname/IP -->
  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput required [(ngModel)]="credential.address" />
  </mat-form-field>

  <!-- Port -->
  <mat-form-field appearance="fill">
    <mat-label>Port</mat-label>
    <input
      matInput
      required
      type="number"
      min="1"
      max="65535"
      [(ngModel)]="credential.port"
    />
  </mat-form-field>

  <mat-divider></mat-divider>

  <!-- Username -->
  <mat-form-field appearance="fill">
    <mat-icon matPrefix>person</mat-icon>
    <mat-label>Username</mat-label>
    <input matInput required [(ngModel)]="credential.username" />
  </mat-form-field>

  <!-- Password -->
  <mat-form-field appearance="fill">
    <mat-icon matPrefix>password</mat-icon>
    <mat-label>Password</mat-label>
    <input
      matInput
      required
      type="password"
      [(ngModel)]="credential.password"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [mat-dialog-close]="credential">Create</button>
</div>
