<button mat-raised-button color="primary" (click)="openDialog()">
  <mat-icon>add</mat-icon>
  New credential
</button>

<mat-accordion multi>
  <mat-expansion-panel *ngFor="let credential of store.credentials">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ credential.name }}</mat-panel-title>
      <mat-panel-description>{{
        credential.description
      }}</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Example content</p>
  </mat-expansion-panel>
</mat-accordion>
