<button mat-fab class="fab-bottom-right" color="primary" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

<mat-accordion multi>
  <mat-expansion-panel *ngFor="let credential of store.credentials">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ credential.name }}</mat-panel-title>
      <mat-panel-description>{{
        credential.description
      }}</mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <strong>Protocol</strong>: {{ credential.protocol }}<br />
      <strong>Address</strong>: {{ credential.address }}<br />
      <strong>Port</strong>: {{ credential.port }}<br />
      <strong>Username</strong>: {{ credential.username }}<br />
      <strong>Password</strong>: {{ credential.password }}
      <button
        mat-raised-button
        class="right"
        color="warn"
        (click)="delete(credential.id)"
      >
        Delete
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
